.club {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    &__image {
    }

    &__name-container {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }

    &__name {
        white-space: pre;
    }
}
